/* projects */

.projects {
    background-image: linear-gradient(45deg, #f6cd8f 70%, #f4bd76 40%);
}

.projects__container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding:100px 0;
    height: auto;
}

.projects__subtitle{
    font-size: 42px;
}

.projects__paragraph {
    color: var(--black2);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}


.background__container {
    width: 68%;
    height: 290px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}

.background__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.background__text{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: #fff;
}

.background__text-title {
    font-size: 24px;
    margin-bottom: 4px;
}

@media (max-width:900px){

    .background__text-title {
        text-align: center;
    }
    .background__text-paragraph{
        display: none;
    }
}